@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundImage{
  background-image: url('../public/backgroundImage.png');
  
}

.titleSkew{
  transform: skew(0, -5deg)
}

.calculTitle{

  background-image: url(../public/titleFont.png);
  background-clip: text;
  color: transparent;
  
}

.calculTitle::after{
  content: '';
  position: absolute;
  top: 50%;
  left:0;
  width: 100%;
  background-image: url('../public/backgroundImage.png');
  height: 8px;
}

.calculSecondTitle{
  background-image: url(../public/titleSecondPartFont.png);
  background-clip: text;
  color: transparent;

}

.calculSecondTitle::after{
  content: '';
  position: absolute;
  top: 50%;
  left:0;
  width: 100%;
  background-image: url('../public/backgroundImage.png');
  height: 8px;
}